body{

    h1{
        font-size: 2em;
        padding: 1em 0;
        line-height: 1.5em;
        margin-bottom: 1em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 30px;
        margin-bottom: 20px;
        color: @green;
        line-height: 1.5em;
    }
    h4{
        font-size: 20px;
        line-height: 1.5em;
    }
    p{
        line-height: 1.5em;
        margin-bottom: 1em;
        a{
            color: @green;
        }
    }

    .wrap {
        width: 100%;
        max-width: 900px;
    }

    header#mainheader{
        .rightSide{
            a.button{
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }

    #sideMenu{
        width: 400px;
    }
}

.main-content {

    #intro{
        .wrap{
            p{
                font-size: 30px;
            }
        }
    }
    #definition{
        padding: 200px 0 300px;
        background-image: url('/images/definition_bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
    #months{
        height: 70vh;
        min-height: 800px;
        .wrap{
            .centered();
            top: 33%;
            h2{
                font-size: 2em;
            }
        }
        .animation{
            display: block;
            position: absolute;
            width: 100%;
            bottom: 33%;
            transform: translateY(50%);
            &.launched{
                .bar{
                    animation-name: growing;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                }
                .month{
                    animation-name: fadeIn;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                    &:nth-of-type(2){
                        animation-delay: .5s;
                    }
                    &:nth-of-type(3){
                        animation-delay: 1s;
                    }
                    &:nth-of-type(4){
                        animation-delay: 1.5s;
                    }
                }
            }
            .bar{
                height: 5px;
                background: @black;
                position: absolute;
                width: 0%;
                left: 0;
                top: 26px;
            }
            .month{
                float: left;
                width: 25%;
                text-align: center;
                position: relative;
                z-index: 2;
                opacity: 0;
                &:before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: @green;
                    display: block;
                    margin: 20px auto;
                }
            }
        }
    }
    #oneinten{
        .firstline{
            font-size: 4em;
        }
    }
    #story{
        height: 100vh;
        .wrap{
            .centered();
        }
        .bottom{
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
        }
        .storyPlayer{
            .player-wrap{
                max-width: 900px;
                margin: 100px auto;
            }
            .close{
                top: 65px;
                right: 0px;
                color: @white;
            }
        }
    }
    #act{
        .action{
            h4{
                font-size: 30px;
                padding: 30px;
            }
            .action-inner{
                height: 500px;
                .content{
                    bottom: 50px;
                    transform: translateY(0);
                }
            }
        }
    }
    #about{
        padding: 200px 0;
    }
}