body{

    h1{
        font-size: 2em;
        padding: 1em 0;
        line-height: 1.5em;
        margin-bottom: 1em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 30px;
        margin-bottom: 20px;
        color: @green;
        line-height: 1.5em;
    }
    h4{
        font-size: 20px;
        line-height: 1.5em;
    }
    p{
        line-height: 1.5em;
        margin-bottom: 1em;
        a{
            color: @green;
        }
    }

    .wrap {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 0;
    }

    header#mainheader{
        .rightSide{
            a.button{
                display: inline-block;
                margin-bottom: 0;
                font-weight: 600;
            }
        }
    }

    #sideMenu{
        width: 400px;
    }
}

.main-content {

    section{
        padding: 100px 0;
    }
    .banner{
        min-height: 500px;
    }

    #intro{
        .wrap{
            p{
                font-size: 30px;
            }
        }
    }
    
    #months{
        height: 70vh;
        min-height: 800px;
        .wrap{
            .centered();
            padding: 0 20px;
            top: 33%;
            h2{
                font-size: 2em;
            }
        }
        .animation{
            display: block;
            position: absolute;
            width: 100%;
            bottom: 200px;
            transform: translateY(50%);
            .graph{
                position: absolute;
                left: 0;
                bottom: 45px;
                width: 100%;
                stroke-dasharray: 2000;
                stroke-dashoffset: 2000;
            }
            &.launched{
                .bar{
                    animation-name: growing;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                }
                .graph{
                    animation: dash 2s linear forwards;
                }
                .month{
                    animation-name: fadeIn;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                    &:nth-of-type(2){
                        animation-delay: .5s;
                    }
                    &:nth-of-type(3){
                        animation-delay: 1s;
                    }
                    &:nth-of-type(4){
                        animation-delay: 1.5s;
                    }
                }
            }
            .bar{
                height: 5px;
                background: @black;
                position: absolute;
                width: 0%;
                left: 0;
                top: 26px;
            }
            .month{
                float: left;
                width: 25%;
                text-align: center;
                position: relative;
                z-index: 2;
                opacity: 0;
                &:before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: @green;
                    display: block;
                    margin: 20px auto;
                }
            }
        }
    }
    #definition{
        padding: 200px 0 300px;
        background-image: url('/images/definition_bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        .col-6{
            padding: 0 50px;
        }
    }
    #examples{
        .title{
            padding-left: 50px;
            height: 0;
        }
        .device{
            margin-top: 20px;
        }
    }
    #oneinten{
        .firstline{
            font-size: 4em;
        }
    }
    #story{
        height: 100vh;
        & > .wrap{
            .centered();
            .quote{
                font-size: 30px;
            }
        }
        .storyPlayer{
            .player-wrap{
                max-width: 900px;
            }
        }
    }
    #update{
        padding: 200px 0;
        color: @white;
        .wrap{
            position: relative;
            z-index: 2;
        }
    }
    #act{
        .action{
            h4{
                font-size: 30px;
                padding: 30px;
            }
            .action-inner{
                height: 80vh;
                .content{
                    bottom: 50px;
                    transform: translateY(0);
                }
            }
        }
    }
    #about{
        padding: 200px 0;
    }

    .mediaBox {
        .content{
            padding: 50px!important;
        }
    }
    .deviceDrawer{
        .content{
            .text{
                padding: 0 0 0 20px!important;
            }
        }
    }

    // ACT
    #actContent{
        .col-6{
            padding: 0 10px;
        }
        .content-block{
            .inner{
                padding: 50px;
            }
        }
    }

    // RESOURCES
    #organizations{
        .wrap{
            & > div > div{
                column-count: 3;
            }
            a{
                padding: 0 25% 50px;
            }
        }
    }

}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }